# FEMA Disaster Cost Forecasting
#### Capstone 2 - Data Wrangling
Michael Garber


#### Data Wrangling High-Level Steps
1. Data Collection
2. Data Organization
3. Data Definition
4. Data Cleaning

#### Data Collection


Top level FEMA data sets
- [https://www.fema.gov/about/openfema/data-sets](https://www.fema.gov/about/openfema/data-sets)

OpenFEMA Dataset: FEMA Web Disaster Declarations - v1
- info [https://www.fema.gov/openfema-data-page/fema-web-disaster-declarations-v1](https://www.fema.gov/openfema-data-page/fema-web-disaster-declarations-v1) \
- data [https://www.fema.gov/api/open/v1/FemaWebDisasterDeclarations.csv](https://www.fema.gov/api/open/v1/FemaWebDisasterDeclarations.csv)

OpenFEMA Dataset: FEMA Web Disaster Summaries - v1
- info [https://www.fema.gov/openfema-data-page/fema-web-disaster-summaries-v1](https://www.fema.gov/openfema-data-page/fema-web-disaster-summaries-v1) \
- data [https://www.fema.gov/api/open/v1/FemaWebDisasterSummaries.csv](https://www.fema.gov/api/open/v1/FemaWebDisasterSummaries.csv)

ClimRR
- info [https://climrr.anl.gov/](https://climrr.anl.gov/) \
*just a reference - may be used for climate prediction data if needed*

In [4]:
#Import packages
import pandas as pd
import requests
import os

In [5]:
#Data Download locations
disasterInfoUrl = 'https://www.fema.gov/api/open/v1/FemaWebDisasterDeclarations.csv'
disasterCostUrl = 'https://www.fema.gov/api/open/v1/FemaWebDisasterSummaries.csv'
rawDataDir = '../data/raw/'
femaInfoPath = rawDataDir + 'FemaWebDisasterDeclarations.csv'
femaCostPath = rawDataDir + 'FemaWebDisasterSummaries.csv'

#Download Disaster Info data locally
r = requests.get(disasterInfoUrl)
with open(femaInfoPath, 'wb') as f:
    f.write(r.content)

#Download Disaster Cost data locally
r = requests.get(disasterCostUrl)
with open(femaCostPath, 'wb') as f:
    f.write(r.content)

In [6]:
#Loading to pandas dataframe

#Load FEMA disaster info data
femaInfo = pd.read_csv(femaInfoPath)

#Load FEMA disaster cost (federal financial assistance) data
femaCosts = pd.read_csv(femaCostPath)

In [7]:
#check loaded data shape
print("femaInfo rows, cols: " + str(femaInfo.shape))
print("femaCosts rows, cols: " + str(femaCosts.shape))

femaInfo rows, cols: (4909, 20)
femaCosts rows, cols: (3665, 14)

In [8]:
#check the head - fema info
femaInfo.head()

,disasterNumber,declarationDate,disasterName,incidentBeginDate,incidentEndDate,declarationType,stateCode,stateName,incidentType,entryDate,updateDate,closeoutDate,region,ihProgramDeclared,iaProgramDeclared,paProgramDeclared,hmProgramDeclared,id,hash,lastRefresh
0,4734,2023-08-31T00:00:00.000Z,HURRICANE IDALIA,2023-08-27T00:00:00.000Z,2023-09-04T00:00:00.000Z,Major Disaster,FL,Florida,Hurricane,2023-08-31T00:00:00.000Z,2023-10-02T00:00:00.000Z,NaN,4,1.0,0.0,1.0,1.0,7039b9e8-8e40-411a-b3bd-ecb27b37d535,b2327cb14c124443d7e00b898be990718576195f,2023-10-02T22:21:25.390Z
1,4738,2023-09-07T00:00:00.000Z,HURRICANE IDALIA,2023-08-30T00:00:00.000Z,2023-08-30T00:00:00.000Z,Major Disaster,GA,Georgia,Hurricane,2023-09-07T00:00:00.000Z,2023-10-02T00:00:00.000Z,NaN,4,1.0,0.0,1.0,1.0,6f1316f1-788f-4763-9bc5-3c5d47e65f55,3b10fdf0c825cd0bc81e6f83955c85d9b32057e5,2023-10-02T22:41:25.957Z
2,4744,2023-10-06T00:00:00.000Z,SEVERE STORMS AND FLOODING,2023-08-03T00:00:00.000Z,2023-08-05T00:00:00.000Z,Major Disaster,VT,Vermont,Flood,2023-10-06T00:00:00.000Z,2023-10-06T00:00:00.000Z,NaN,1,0.0,0.0,1.0,1.0,f8a460e1-772c-4efe-91c3-bd7eed5df61e,314ca84418ff5016ef5c0fc7a1e32a6106b7e18b,2023-10-06T16:41:28.824Z
3,4745,2023-10-11T00:00:00.000Z,FLOODING,2023-06-01T00:00:00.000Z,2023-06-08T00:00:00.000Z,Major Disaster,MT,Montana,Flood,2023-10-11T00:00:00.000Z,2023-10-11T00:00:00.000Z,NaN,8,0.0,0.0,1.0,1.0,889564e8-549a-4123-88ba-a1d9b7b0261b,96fe8a62931b20e70e8a1779545c9467c66d29f8,2023-10-11T22:02:12.546Z
4,3404,2018-09-12T00:00:00.000Z,TROPICAL STORM OLIVIA,2018-09-09T00:00:00.000Z,2018-09-13T00:00:00.000Z,Emergency,HI,Hawaii,Hurricane,2018-09-12T00:00:00.000Z,2023-10-12T00:00:00.000Z,2023-10-11T00:00:00.000Z,9,0.0,0.0,1.0,0.0,5aa4296a-7d77-430f-a513-b7a433f6d305,87732b7d7d5a424fad84c04f5edf0bff4e860f50,2023-10-12T11:21:25.048Z

In [9]:
#check the head - fema costs
femaCosts.head()

,disasterNumber,totalNumberIaApproved,totalAmountIhpApproved,totalAmountHaApproved,totalAmountOnaApproved,totalObligatedAmountPa,totalObligatedAmountCatAb,totalObligatedAmountCatC2g,paLoadDate,iaLoadDate,totalObligatedAmountHmgp,hash,lastRefresh,id
0,3601,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3de68baba960e69da445cf822d3dd859081fb34a,2023-10-09T23:02:26.341Z,faafecca-0f76-4fb8-8ffd-b6f46f3b712c
1,3602,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,58566c446fce5cabbd0c3412a6bb3daa4ada1993,2023-10-09T23:02:26.341Z,b74f0dc2-fab5-42b9-acf7-c94df14d85ad
2,4781,77577.0,1.797497e+08,77696823.64,1.020528e+08,NaN,NaN,NaN,NaN,2024-07-16T00:00:00.000Z,0.0,399620a1d3c5af77b1b47059ec5e4f17b86c5946,2024-07-17T02:24:56.730Z,620488b2-6d3b-436d-b5e2-c4363a23845f
3,1267,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2167204.0,1ba476aa5b95b344e79f9ed5c0b1442849ccb5e0,2023-03-18T13:22:12.883Z,0f5ed8dd-d8e5-4328-9155-372206b47182
4,1270,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,319783.0,bb3c5cb8faf9c3e5606bd3f86ff09da517907068,2023-03-18T13:22:12.883Z,df214994-59d2-4075-b52c-894f7f4b358e

In [10]:
#Pre-join check

#check that join fields are unique before join - femainfo.disasterNumber
print("disaster number is all unique (femaInfo)? " + str(len(femaInfo) == femaInfo['disasterNumber'].nunique()))

#check that join fields are unique before join - femacosts.disasterNumber
print("disaster number is all unique (femaCosts)? " + str(len(femaCosts) == femaCosts['disasterNumber'].nunique()))

disaster number is all unique (femaInfo)? True
disaster number is all unique (femaCosts)? True

In [11]:
#Data Joining - femaInfo & femaCosts 
print("Rows in femaInfo: " + str(len(femaInfo)))
print("Rows in femaInfo: " + str(len(femaCosts)))
print("*Note: There are more rows in the disaster [info] dataset than the disaster [costs]," + '\n' + "this suggests some disasters do not have cost info. Perhaps there was no requests to FEMA made.")

Rows in femaInfo: 4909
Rows in femaInfo: 3665
*Note: There are more rows in the disaster [info] dataset than the disaster [costs],
this suggests some disasters do not have cost info. Perhaps there was no requests to FEMA made.

In [12]:
#Join disaster info with disaster costs via the 'disaster info' column
femaMasterData = pd.merge(femaInfo, femaCosts, how='left', on='disasterNumber')

#check joined data set
print("(Rows, columns) in femaInfo" + '\n' + str(femaMasterData.shape))
femaMasterData.head()

(Rows, columns) in femaInfo
(4909, 33)

,disasterNumber,declarationDate,disasterName,incidentBeginDate,incidentEndDate,declarationType,stateCode,stateName,incidentType,entryDate,...,totalAmountOnaApproved,totalObligatedAmountPa,totalObligatedAmountCatAb,totalObligatedAmountCatC2g,paLoadDate,iaLoadDate,totalObligatedAmountHmgp,hash_y,lastRefresh_y,id_y
0,4734,2023-08-31T00:00:00.000Z,HURRICANE IDALIA,2023-08-27T00:00:00.000Z,2023-09-04T00:00:00.000Z,Major Disaster,FL,Florida,Hurricane,2023-08-31T00:00:00.000Z,...,26599937.51,3.113841e+08,2.892431e+08,2196055.85,2024-07-17T00:00:00.000Z,2024-07-16T00:00:00.000Z,3210378.19,1626e372290fbfdb36d34039db8bd7cb218ca417,2024-07-17T04:02:33.571Z,c847e9a0-2669-4171-8eae-300119252c4f
1,4738,2023-09-07T00:00:00.000Z,HURRICANE IDALIA,2023-08-30T00:00:00.000Z,2023-08-30T00:00:00.000Z,Major Disaster,GA,Georgia,Hurricane,2023-09-07T00:00:00.000Z,...,587671.28,4.098075e+07,2.101207e+07,18294106.13,2024-07-17T00:00:00.000Z,2024-07-16T00:00:00.000Z,0.00,18831ac419ab8542bfaaa989fdd8009885eeccee,2024-07-17T04:02:33.571Z,03c83dda-5c4b-4666-87cc-5c16e7685807
2,4744,2023-10-06T00:00:00.000Z,SEVERE STORMS AND FLOODING,2023-08-03T00:00:00.000Z,2023-08-05T00:00:00.000Z,Major Disaster,VT,Vermont,Flood,2023-10-06T00:00:00.000Z,...,NaN,6.294530e+05,1.010602e+05,439501.00,2024-07-17T00:00:00.000Z,NaN,0.00,6aaa2f893ed72629939d978483c2e38159fe5de4,2024-07-17T04:02:33.571Z,29417e96-3f95-4f72-a2bb-68431027913b
3,4745,2023-10-11T00:00:00.000Z,FLOODING,2023-06-01T00:00:00.000Z,2023-06-08T00:00:00.000Z,Major Disaster,MT,Montana,Flood,2023-10-11T00:00:00.000Z,...,NaN,2.457557e+06,1.395344e+05,2052851.07,2024-07-17T00:00:00.000Z,NaN,0.00,044c5ccf7ea67a6142fbf433e59bc88d7ee4a480,2024-07-17T04:02:33.571Z,a8d5d90e-bc0a-4774-a3f8-a458d5208cce
4,3404,2018-09-12T00:00:00.000Z,TROPICAL STORM OLIVIA,2018-09-09T00:00:00.000Z,2018-09-13T00:00:00.000Z,Emergency,HI,Hawaii,Hurricane,2018-09-12T00:00:00.000Z,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Data Organization
Project file structure based on the cookiecutter data science template. \
[https://drivendata.github.io/cookiecutter-data-science/](https://drivendata.github.io/cookiecutter-data-science/)

Folder structure tree (GitHub) \
[https://github.com/mdgarber/FEMADisasterCostForecasting/blob/acc1f9a68773c3fa7b87325f7fb814c049f03306/femadisastercostforecasting/README.md](https://github.com/mdgarber/FEMADisasterCostForecasting/blob/acc1f9a68773c3fa7b87325f7fb814c049f03306/femadisastercostforecasting/README.md)

#### Data Definition

Column names
- Data types
- Description of the columns
- Counts and percents unique values
- Ranges of values
- Calc Summary statistics

In [15]:
#Check Data types,  unique values, range of index
femaMasterData.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4909 entries, 0 to 4908
Data columns (total 33 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   disasterNumber              4909 non-null   int64
 1   declarationDate             4909 non-null   object
 2   disasterName                4909 non-null   object
 3   incidentBeginDate           4909 non-null   object
 4   incidentEndDate             4629 non-null   object
 5   declarationType             4909 non-null   object
 6   stateCode                   4909 non-null   object
 7   stateName                   4909 non-null   object
 8   incidentType                4909 non-null   object
 9   entryDate                   4909 non-null   object
 10  updateDate                  4909 non-null   object
 11  closeoutDate                3929 non-null   object
 12  region                      4909 non-null   int64
 13  ihProgramDeclared           4658 non-null   float64
 14  iaProgramDeclared           4658 non-null   float64
 15  paProgramDeclared           4658 non-null   float64
 16  hmProgramDeclared           4658 non-null   float64
 17  id_x                        4909 non-null   object
 18  hash_x                      4909 non-null   object
 19  lastRefresh_x               4909 non-null   object
 20  totalNumberIaApproved       552 non-null    float64
 21  totalAmountIhpApproved      552 non-null    float64
 22  totalAmountHaApproved       496 non-null    float64
 23  totalAmountOnaApproved      550 non-null    float64
 24  totalObligatedAmountPa      2638 non-null   float64
 25  totalObligatedAmountCatAb   2385 non-null   float64
 26  totalObligatedAmountCatC2g  1372 non-null   float64
 27  paLoadDate                  2638 non-null   object
 28  iaLoadDate                  552 non-null    object
 29  totalObligatedAmountHmgp    2605 non-null   float64
 30  hash_y                      3665 non-null   object
 31  lastRefresh_y               3665 non-null   object
 32  id_y                        3665 non-null   object
dtypes: float64(12), int64(2), object(19)
memory usage: 1.2+ MB

##### Description of the columns
femaInfo
- [https://www.fema.gov/openfema-data-page/fema-web-disaster-declarations-v1](https://www.fema.gov/openfema-data-page/fema-web-disaster-declarations-v1)

femaCosts
- [https://www.fema.gov/openfema-data-page/fema-web-disaster-summaries-v1](https://www.fema.gov/openfema-data-page/fema-web-disaster-summaries-v1)

In [17]:
#Value counts for important categorical-like fields
print('\n======== declarationType ========')
print(femaMasterData['declarationType'].value_counts())

print('\n======== stateCode ========')
print(femaMasterData['stateCode'].value_counts())

print('\n======== stateName ========')
print(femaMasterData['stateName'].value_counts())

print('\n======== incidentType ========')
print(femaMasterData['incidentType'].value_counts())

print('\n======== region ========')
print(femaMasterData['region'].value_counts())

femaMasterData['declarationType'].value_counts()

======== declarationType ========
declarationType
Major Disaster      2798
Fire Management     1044
Emergency            604
Fire Suppression     463
Name: count, dtype: int64

======== stateCode ========
stateCode
CA    377
TX    376
OK    229
WA    204
FL    178
OR    148
NM    117
AZ    115
NY    112
LA    106
NV    103
CO    102
MT    102
AL    101
MS     94
TN     91
SD     91
KY     89
KS     86
AK     83
AR     83
WV     80
NE     79
MN     79
MO     78
IA     77
NC     74
GA     74
VA     73
ME     71
ND     70
HI     68
IL     67
PA     63
NH     62
OH     60
MA     58
VT     58
NJ     58
ID     55
WI     54
UT     53
IN     52
PR     48
MI     44
SC     41
WY     40
CT     40
MD     37
VI     31
RI     31
FM     26
MP     26
DE     25
DC     23
GU     22
AS     17
MH      7
PW      1
Name: count, dtype: int64

======== stateName ========
stateName
California                        377
Texas                             376
Oklahoma                          229
Washington                        204
Florida                           178
Oregon                            148
New Mexico                        117
Arizona                           115
New York                          112
Louisiana                         106
Nevada                            103
Colorado                          102
Montana                           102
Alabama                           101
Mississippi                        94
Tennessee                          91
South Dakota                       91
Kentucky                           89
Kansas                             86
Alaska                             83
Arkansas                           83
West Virginia                      80
Nebraska                           79
Minnesota                          79
Missouri                           78
Iowa                               77
North Carolina                     74
Georgia                            74
Virginia                           73
Maine                              71
North Dakota                       70
Hawaii                             68
Illinois                           67
Pennsylvania                       63
New Hampshire                      62
Ohio                               60
Massachusetts                      58
Vermont                            58
New Jersey                         58
Idaho                              55
Wisconsin                          54
Utah                               53
Indiana                            52
Puerto Rico                        48
Michigan                           44
South Carolina                     41
Wyoming                            40
Connecticut                        40
Maryland                           37
Virgin Islands of the U.S.         31
Rhode Island                       31
Federated States of Micronesia     26
Northern Mariana Islands           26
Delaware                           25
District of Columbia               23
Guam                               22
American Samoa                     17
Marshall Islands                    7
Palau                               1
Name: count, dtype: int64

======== incidentType ========
incidentType
Fire                 1604
Severe Storm         1079
Flood                 891
Hurricane             443
Tornado               182
Snowstorm             171
Biological            167
Severe Ice Storm       74
Typhoon                63
Drought                46
Earthquake             36
Other                  34
Coastal Storm          31
Freezing               18
Winter Storm           13
Mud/Landslide          12
Tropical Storm          9
Toxic Substances        8
Fishing Losses          6
Volcanic Eruption       6
Dam/Levee Break         6
Human Cause             4
Tsunami                 3
Terrorist               2
Chemical                1
Name: count, dtype: int64

======== region ========
region
6     911
9     762
4     742
10    490
8     458
5     356
1     320
7     320
3     301
2     249
Name: count, dtype: int64

declarationType
Major Disaster      2798
Fire Management     1044
Emergency            604
Fire Suppression     463
Name: count, dtype: int64

In [18]:
#Calc Summary statistics - 1
femaMasterData.describe()

,disasterNumber,region,ihProgramDeclared,iaProgramDeclared,paProgramDeclared,hmProgramDeclared,totalNumberIaApproved,totalAmountIhpApproved,totalAmountHaApproved,totalAmountOnaApproved,totalObligatedAmountPa,totalObligatedAmountCatAb,totalObligatedAmountCatC2g,totalObligatedAmountHmgp
count,4909.000000,4909.000000,4658.000000,4658.000000,4658.000000,4658.000000,552.000000,5.520000e+02,4.960000e+02,5.500000e+02,2.638000e+03,2.385000e+03,1.372000e+03,2.605000e+03
mean,2584.193726,6.029130,0.120438,0.301417,0.957063,0.671533,17694.976449,6.067613e+07,4.329752e+07,2.185028e+07,9.017471e+07,5.515474e+07,6.710141e+07,5.574283e+06
std,1590.648898,2.665195,0.325508,0.458923,0.202737,0.469706,72221.592334,2.734318e+08,2.039046e+08,8.821070e+07,9.492863e+08,5.222542e+08,8.557632e+08,4.886500e+07
min,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.756200e+03,1.756200e+03,5.600000e+03,0.000000e+00,0.000000e+00,-4.431297e+04,0.000000e+00
25%,1229.000000,4.000000,0.000000,0.000000,1.000000,0.000000,572.750000,2.705652e+06,1.881629e+06,4.753091e+05,7.219487e+05,9.730080e+04,1.975979e+06,0.000000e+00
50%,2459.000000,6.000000,0.000000,0.000000,1.000000,1.000000,1975.000000,8.123680e+06,5.344130e+06,1.587069e+06,3.847748e+06,8.333870e+05,5.557484e+06,1.492080e+05
75%,4082.000000,9.000000,0.000000,1.000000,1.000000,1.000000,7501.750000,2.796050e+07,1.716679e+07,7.666370e+06,1.379611e+07,4.709080e+06,1.590178e+07,1.514019e+06
max,5508.000000,10.000000,1.000000,1.000000,1.000000,1.000000,774691.000000,5.247169e+09,3.745182e+09,1.501987e+09,3.398194e+10,1.451769e+10,2.626818e+10,1.675656e+09

#### Data Cleaning

- Data set contains values for all rows (4865) that appear to be needed for analysis except for some of the costs
- "totalAmount.." and "totalObligated..." fields will be set to 0 as most of them represent money (in USD) spent or authorized for spending
- Duplicates for disasterNumber checked in pre-join steps

In [20]:
#missing or NA values (cost values should not be null...setting to zero)
femaMasterData['totalNumberIaApproved'].fillna(0, inplace=True)
femaMasterData['totalAmountHaApproved'].fillna(0, inplace=True)
femaMasterData['totalAmountIhpApproved'].fillna(0, inplace=True)
femaMasterData['totalAmountOnaApproved'].fillna(0, inplace=True)
femaMasterData['totalObligatedAmountPa'].fillna(0, inplace=True)
femaMasterData['totalObligatedAmountCatAb'].fillna(0, inplace=True)
femaMasterData['totalObligatedAmountCatC2g'].fillna(0, inplace=True)
femaMasterData['totalObligatedAmountHmgp'].fillna(0, inplace=True)

#drop columns
#...will drop after EDA so that I confirm which fields aren't useful

C:\Users\Mike\AppData\Local\Temp\ipykernel_18632\4201513248.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  femaMasterData['totalNumberIaApproved'].fillna(0, inplace=True)
C:\Users\Mike\AppData\Local\Temp\ipykernel_18632\4201513248.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  femaMasterData['totalAmountHaApproved'].fillna(0, inplace=True)
C:\Users\Mike\AppData\Local\Temp\ipykernel_18632\4201513248.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  femaMasterData['totalAmountIhpApproved'].fillna(0, inplace=True)
C:\Users\Mike\AppData\Local\Temp\ipykernel_18632\4201513248.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  femaMasterData['totalAmountOnaApproved'].fillna(0, inplace=True)
C:\Users\Mike\AppData\Local\Temp\ipykernel_18632\4201513248.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  femaMasterData['totalObligatedAmountPa'].fillna(0, inplace=True)
C:\Users\Mike\AppData\Local\Temp\ipykernel_18632\4201513248.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  femaMasterData['totalObligatedAmountCatAb'].fillna(0, inplace=True)
C:\Users\Mike\AppData\Local\Temp\ipykernel_18632\4201513248.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  femaMasterData['totalObligatedAmountCatC2g'].fillna(0, inplace=True)
C:\Users\Mike\AppData\Local\Temp\ipykernel_18632\4201513248.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  femaMasterData['totalObligatedAmountHmgp'].fillna(0, inplace=True)

In [21]:
#check that the "total..." fields are no longer NULL/NaN
femaMasterData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4909 entries, 0 to 4908
Data columns (total 33 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   disasterNumber              4909 non-null   int64
 1   declarationDate             4909 non-null   object
 2   disasterName                4909 non-null   object
 3   incidentBeginDate           4909 non-null   object
 4   incidentEndDate             4629 non-null   object
 5   declarationType             4909 non-null   object
 6   stateCode                   4909 non-null   object
 7   stateName                   4909 non-null   object
 8   incidentType                4909 non-null   object
 9   entryDate                   4909 non-null   object
 10  updateDate                  4909 non-null   object
 11  closeoutDate                3929 non-null   object
 12  region                      4909 non-null   int64
 13  ihProgramDeclared           4658 non-null   float64
 14  iaProgramDeclared           4658 non-null   float64
 15  paProgramDeclared           4658 non-null   float64
 16  hmProgramDeclared           4658 non-null   float64
 17  id_x                        4909 non-null   object
 18  hash_x                      4909 non-null   object
 19  lastRefresh_x               4909 non-null   object
 20  totalNumberIaApproved       4909 non-null   float64
 21  totalAmountIhpApproved      4909 non-null   float64
 22  totalAmountHaApproved       4909 non-null   float64
 23  totalAmountOnaApproved      4909 non-null   float64
 24  totalObligatedAmountPa      4909 non-null   float64
 25  totalObligatedAmountCatAb   4909 non-null   float64
 26  totalObligatedAmountCatC2g  4909 non-null   float64
 27  paLoadDate                  2638 non-null   object
 28  iaLoadDate                  552 non-null    object
 29  totalObligatedAmountHmgp    4909 non-null   float64
 30  hash_y                      3665 non-null   object
 31  lastRefresh_y               3665 non-null   object
 32  id_y                        3665 non-null   object
dtypes: float64(12), int64(2), object(19)
memory usage: 1.2+ MB